@import "reset.css";
@import "variable.css";

/* screen */
@import "screen/main-login.css";
@import "screen/login.css";

body {
  font-family: "Roboto",-apple-system,apple color emoji,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  width: 100%;
  height: 100%;
}
