.chats-main {
  width: 100%;
  position: relative;
}
.chats-main__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
.chatlist__column {
  margin: 0.25rem 0;
}
.chats-main__header-column:nth-child(2) {
  width: 100%;
}
#menubutton {
  background-color: white;
  border: none;
  padding: 0;
}
.chats-main__header:first-child i {
  margin: 1.5rem;
  margin-top: 1.75rem;
  color: var(--color-gray);
  pointer-events: none;
}
.chats-main__header-column:nth-child(2) i {
  margin: 0;
  pointer-events: none;
  position: absolute;
  left: 85px;
  top: 18px;
}
.chats-main__header-column .searchbar {
  width: 98%;
  font-size: 16px;
  padding: 0.75rem 0.5rem 0.75rem 3rem;
  background-color: #f4f4f5;
  opacity: 0.8;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 25px;
}
.searchbar:focus {
  border-color: var(--login-border);
  box-shadow: 0px 0px 0px 1px var(--login-border) inset;
}
.chats-main__chatlist-column {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.chats-main__chatlist-column .chatlist__column:first-child {
  display: flex;
  justify-content: space-between;
}
.chats-main__chatlist-column .chatlist__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 1rem;
}
.chatlist-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chats-main__chatlist-column img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0.75rem;
}
.chatlist-text span:last-child {
  color: rgba(0, 0, 0, 0.6);
}
.chats-main__chatlist-column .chatlist__column:nth-child(2) span {
  font-size: 0.75rem;
  opacity: 0.5;
}
.badge {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: yellowgreen;
  color: white;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chats-main__chatlist-column .chatlist__column:last-child {
  align-items: center;
}
.chats-main-setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chats-main-setting span {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 700;
}
.setting-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
