.form .form__column label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.form__column {
  position: relative;
  width: 100%;
  border: none;
  margin-bottom: 1.5rem;
}
.form .form__column label {
  position: absolute;
  left: 0px;
  top: -10px;
  background-color: white;
  margin-left: 5px;
  padding: 0px 5px;
}
.form .form__column input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: block;
  height: 2.75rem;
  font-size: 1rem;
  font: inherit;
  outline: none;
  letter-spacing: 0.5px;
  padding: 1.25rem;
}
.form i {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 12px;
  top: 20px;
}
.login-text {
  font-size: 0.875rem;
  padding: 0;
  margin-bottom: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
}
.next {
  width: 100%;
  border: 1px solid var(--login-border);
  border-color: var(--login-border);
  margin-bottom: 1rem;
  height: 3.5rem;
  text-transform: uppercase;
  color: white;
  background-color: #4a95d6;
  border-radius: 0.75rem;
  font-size: 16px;
  cursor: pointer;
}
.form .checkbox {
  width: 100%;
  display: flex;
  padding-left: 1.25rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

#checkbox-button {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.form .checkbox span {
  margin-left: 2rem;
}

.form__column input:hover + label {
  color: var(--login-border);
}
.form__column input:hover {
  border-color: var(--login-border);
}
.form__column input:focus {
  border-color: var(--login-border);
  box-shadow: 0px 0px 0px 1px var(--login-border) inset;
}
