.form {
  width: 100%;
}
.form label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.form__column {
  position: relative;
  width: 100%;
  border: none;
  margin-bottom: 1.5rem;
}
.form label {
  position: absolute;
  left: 0px;
  top: -10px;
  background-color: white;
  margin-left: 5px;
  padding: 0px 5px;
}
.form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: block;
  height: 2.75rem;
  font-size: 16px;
  outline: none;
  letter-spacing: 0.5px;
  padding: 1.25rem;
}
.form i {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 12px;
  top: 20px;
}
.login-text {
  font-size: 0.875rem;
  padding: 0;
  margin-bottom: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.form__column input:hover + label {
  color: #6baff1;
}
.form__column input:hover {
  border-color: #6baff1;
}
.form__column input:focus {
  border-color: #6baff1;
  box-shadow: 0px 0px 0px 1px #6baff1 inset;
}
