#select { 
    width: 50%;
    box-sizing: border-box;
}
.main-login___phone {
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
}
#select .select__text {
    font-size: 12px;
    color: rgba(0,0,0,0.3);
}
.select__country {
    font-size: 16px;
    font-weight: 300;
}
.select__column {
    position: relative; 
    display: flex;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 18px 15px;      
} 
.select__column i {
    color: rgba(0,0,0,0.5);
}
.select__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select__column:first-child {
    margin-bottom: 20px;
}
.select__text { 
    position: absolute;
    left: 6px;
    top: -6px;
    background-color: white;
    margin-left: 5px;
    padding: 0px 5px;
}