.login-header {
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 3rem;
}
.main-login {
  width: 100%;
  padding: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-login__column {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-login .main-login__header {
  text-align: center;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}
.main-login .qr-description {
  padding: 0px 28px;
}
.main-login .qr-description li {
  margin-bottom: 1rem;
  line-height: 1.5;
}
.main-login img {
  width: 240px;
  height: 240px;
}
.main-login #mark {
  width: 170px;
  height: 170px;
  margin-bottom: 0;
}
.main-login___phone {
  color: rgb(112, 117, 121);
  margin-bottom: 30px;
  line-height: 1.25rem;
}
#login button {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #8590ec;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
}
#login button:hover {
  background-color: #f1f7fc;
}
