.main-login {
  width: 100%;
  max-width: 25.5rem;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 6rem;
  text-align: center;
  box-sizing: border-box;
}
.main-login__column {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.main-login .main-login__header {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
.main-login ol {
  display: block;
  margin-top: 0;
  list-style: none;
  counter-reset: number;
  padding: 0px 1.75rem;
}
.main-login .qr-description li {
  text-align: left;
  display: flex;
  counter-increment: number;
  margin-bottom: 0.75rem;
}
.qr-description li::before {
  content: counter(number);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.375rem;
  height: 1.375rem;
  padding: 0;
  margin: 0 0.75rem 0 0;
  background: #3390ec;
  border-radius: 50%;
  font-size: smaller;
  color: white;
}
@keyframes qr-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.main-login img {
  width: 280px;
  height: 280px;
  animation: qr-show 1s ease-in-out 5s normal forwards;
}
@keyframes circle-show {
  0% {
    z-index: 1;
    opacity: 1;
  }
  25% {
    z-index: 1;
    opacity: 1;
  }
  50% {
    z-index: 1;
    opacity: 1;
  }
  75% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  background-color: white;
  width: 310px;
  height: 310px;
  animation: circle-show 6s linear forwards;
}
@keyframes rotatecircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle__column {
  width: 60px;
  height: 60px;
  border: 5px solid #3390ec;
  border-radius: 30px;
  border-top: 5px solid white;
  animation: rotatecircle 1s linear infinite;
}
.main-login #mark {
  width: 7rem;
  height: 7rem;
  margin-bottom: 1.75rem;
}
.main-login___phone {
  width: 100%;
  color: rgb(112, 117, 121);
  margin-bottom: 2.5rem;
  line-height: 1.25rem;
  text-align: center;
}
.main-login__loginwithphone {
  width: 100%;
}
.main-login .login-header {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
#login button {
  width: 100%;
  height: 3.5rem;
  font-size: 16px;
  color: #8590ec;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}
#login button:hover,
#login button:focus {
  background-color: #f1f7fc;
  outline: none;
}
