.login-header {
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 3rem;
}
.main-login {
  padding: 1rem;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-login__column {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-login .main-login__header {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}
.main-login .qr-description {  
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
  counter-reset: number;
  padding: 0px 1.75rem;
}
.main-login .qr-description li {
  display: flex; 
  counter-increment: number;
  margin: 0.75rem 0; 
}
.qr-description li::before {
    content: counter(number);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.375rem;
    height: 1.375rem;
    padding: 0;
    margin: 0 0.75rem 0 0;
    background: #3390ec;
    border-radius: 50%; 
    font-size: smaller;
    color: white;
}
.main-login img {
  width: 280px;
  height: 280px;
  animation: qr-show 0.4s ease-in-out forwards;
}
@keyframes qr-show {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
}
.main-login #mark {
  width: 170px;
  height: 170px;
  margin-bottom: 0;
}
.main-login___phone {
  color: rgb(112, 117, 121);
  margin-bottom: 30px;
  line-height: 1.25rem;
}
