.button-menu {
  margin-top: 4rem;
}
.button-menu__column {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  margin: 0.4rem 0;
  padding: 1rem 1rem 1rem 1.75rem;
  border-radius: 40px;
}
.button-menu__column-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
.button-menu__column-text {
  width: 100%;
  height: 100%;
  font-weight: 400;
  margin-left: 2rem;
}
.button-menu__column-text a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.version {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  background-color: rgb(244, 244, 245);
  color: rgb(112, 117, 121);
}
.into-setting {
  box-shadow: 0px 0px 7px 0px rgba(112, 117, 121, 0.1);
}
.into-setting input[type="submit"] {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
  padding: 0;
  width: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
